{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="alert"></div>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>

    <div id="anemail">
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
    {% if urljump or alert %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var urljump = "{{urljump}}"; 
            var thealert = "{{alert}}";
            //console.log(`*******${urljump}, ${thealert}`);
            if (urljump === "compose"){
                compose_email();
            }
            else if (urljump === "sent" || urljump === "archive" || urljump === "inbox"){
                console.log(urljump);
                load_mailbox(`${urljump}`);
            }
            else if (parseInt(urljump) != false){
                var c = parseInt(urljump);
                getemail(c);
            }

            if (thealert){
                load_mailbox('inbox');
                alert(thealert);
            }

        })
        
    </script>
    {% endif %}
{% endblock %}